#header{
    background-color: aqua;
}

#panel-heading{
    background-color: aqua;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
}

td, th {
    border: 3px solid hsl(184, 70%, 50%);;
    text-align: left;
    padding: 15px;

}

tr:nth-child(even) {
    background-color: hsl(184, 70%, 50%);
    padding: 15px;
    text-align: left;

}